<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Drink Database Hackathon Project</title>
</head>
<body>
<div align="center">
    <h1>DrinkDB Demo</h1>
    <a href="/random">Click here to get a random drink</a>
    <br>
    <br>
    <a href="searchbyname">Click here to search for drinks by name</a>
    <br>
    <br>
    <a href="searchingredient">Click here to search for an ingredient</a>
    <br>
    <br>
    <a href="drinkoftheday">Click here for the drink of the day</a>
</div>
</body>
</html>